{{define "content"}}
<h2>Добавить клиента</h2>
<p class="page-subtitle">Создание нового клиента с машиной и контактными данными.</p>

<form method="POST">
  <label>Имя:</label><br>
  <input type="text" name="name" placeholder="Например: Ержан" required>

  <br><br>

  <label>Телефон:</label><br>
  <input type="text" name="phone" placeholder="Например: +7 777 123 45 67">

  <br><br>

  <label>Номер машины:</label><br>
  <input type="text" name="car_number" placeholder="Например: 123ABC04">

  <br><br>

  <label>Модель машины:</label><br>
  <input type="text" name="car_model" placeholder="Например: Toyota Camry">

  <br><br>

  <button type="submit">Сохранить</button>
</form>
{{end}}